<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GenerateOtp</servlet-name>
        <servlet-class>com.takeawayfood.api.GenerateOtp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestaurantConnected</servlet-name>
        <servlet-class>com.takeawayfood.api.RestaurantConnected</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestaurantMenu</servlet-name>
        <servlet-class>com.takeawayfood.api.RestaurantMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderTable</servlet-name>
        <servlet-class>com.takeawayfood.api.OrderTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayRestaurants</servlet-name>
        <servlet-class>com.takeawayfood.api.DisplayRestaurants</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayRestaurantMenu</servlet-name>
        <servlet-class>com.takeawayfood.api.DisplayRestaurantMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayStudentTransaction</servlet-name>
        <servlet-class>com.takeawayfood.api.DisplayStudentTransaction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayRestaurantOrder</servlet-name>
        <servlet-class>com.takeawayfood.api.DisplayRestaurantOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayRestaurantTransaction</servlet-name>
        <servlet-class>com.takeawayfood.api.DisplayRestaurantTransaction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderStatus</servlet-name>
        <servlet-class>com.takeawayfood.api.OrderStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayRestaurantAcceptedOrder</servlet-name>
        <servlet-class>com.takeawayfood.api.DisplayRestaurantAcceptedOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinalBillSummery</servlet-name>
        <servlet-class>com.takeawayfood.api.FinalBillSummery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPlacedOrderStatus</servlet-name>
        <servlet-class>com.takeawayfood.api.GetPlacedOrderStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCookingStatus</servlet-name>
        <servlet-class>com.takeawayfood.api.GetCookingStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserDetails</servlet-name>
        <servlet-class>com.takeawayfood.api.GetUserDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveUserDetails</servlet-name>
        <servlet-class>com.takeawayfood.api.SaveUserDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveRestaurantDetails</servlet-name>
        <servlet-class>com.takeawayfood.api.SaveRestaurantDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRestaurantDetails</servlet-name>
        <servlet-class>com.takeawayfood.api.GetRestaurantDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateHash</servlet-name>
        <servlet-class>com.takeawayfood.api.GenerateHash</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayUResponse</servlet-name>
        <servlet-class>com.takeawayfood.api.PayUResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrackOrderStatus</servlet-name>
        <servlet-class>com.takeawayfood.api.TrackOrderStatus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GenerateOtp</servlet-name>
        <url-pattern>/GenerateOtp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestaurantConnected</servlet-name>
        <url-pattern>/RestaurantConnected</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestaurantMenu</servlet-name>
        <url-pattern>/RestaurantMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderTable</servlet-name>
        <url-pattern>/OrderTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayRestaurants</servlet-name>
        <url-pattern>/DisplayRestaurants</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayRestaurantMenu</servlet-name>
        <url-pattern>/DisplayRestaurantMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayStudentTransaction</servlet-name>
        <url-pattern>/DisplayStudentTransaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayRestaurantOrder</servlet-name>
        <url-pattern>/DisplayRestaurantOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayRestaurantTransaction</servlet-name>
        <url-pattern>/DisplayRestaurantTransaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderStatus</servlet-name>
        <url-pattern>/OrderStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayRestaurantAcceptedOrder</servlet-name>
        <url-pattern>/DisplayRestaurantAcceptedOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinalBillSummery</servlet-name>
        <url-pattern>/FinalBillSummery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPlacedOrderStatus</servlet-name>
        <url-pattern>/GetPlacedOrderStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCookingStatus</servlet-name>
        <url-pattern>/GetCookingStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserDetails</servlet-name>
        <url-pattern>/GetUserDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveUserDetails</servlet-name>
        <url-pattern>/SaveUserDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveRestaurantDetails</servlet-name>
        <url-pattern>/SaveRestaurantDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRestaurantDetails</servlet-name>
        <url-pattern>/GetRestaurantDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateHash</servlet-name>
        <url-pattern>/GenerateHash</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayUResponse</servlet-name>
        <url-pattern>/PayUResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrackOrderStatus</servlet-name>
        <url-pattern>/TrackOrderStatus</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
